body {
    background-color: var(--theme-primary-color);
    margin: 0;
    color: var(--theme-text-color) !important;
}

a {
    color: var(--theme-link-color);
    text-decoration: none;
}

/** Links to other pages */
a.pagelink:hover {
    text-decoration: underline dotted;
}


#topbar {
    position: relative;
    height: var(--topbar-height);
    margin: 0 0 0 var(--sidebar-width);
}

#topbar #action_box {
    display: inline-block;
    position: absolute;
    bottom: 0;
}

#topbar #action_box a {
    display: inline-block;
    color: var(--theme-link-color);
    margin: 4px 10px;
    font-size: 0.8em;
}

#topbar #action_box a:hover {
    text-decoration: underline;
}

/* Search form */
#topbar #search_box {
    display: inline-block;
    position: absolute;
    right: 5px;
    bottom: 2px;
    width: 20em;
}

#topbar #search_box input {
    background: var(--theme-secondary-color);
    padding: 5px;
    color: var(--theme-text-color); 
    border: 1px solid var(--theme-border-color);
}

#topbar #search_box input::placeholder {
    color: #000;
}

#topbar #search_box::placeholder {
    color: white;
}


#sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
}

#sidebar #logobox {
    margin: 1em 1em;
    text-align: center;
}

#sidebar #logobox #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-position: center center;
    background-repeat: no-repeat;
}

#sidebar #logobox #logo_title {
    font-size: 55px;
    font-family: logoFont;
    color: var(--theme-logo-text-color);
    text-decoration: none;
}

#sidebar nav {
    margin: 10px;
    padding: 5px;
    border: 1px solid var(--theme-border-color);
}

/* sidebar links */
#sidebar nav a {
    display: block;
    color: var(--theme-sidebar-link-color);
    font-size: 0.95em;
    text-decoration: none;
    padding: 2px;
    margin-bottom: 5px;
}

@keyframes shift-right {
    100% {
        padding-left: 5px;
    }
}

#sidebar nav a:hover {
    text-decoration: underline;
    animation-name: shift-right;
    animation-duration: 0.15s;
    animation-fill-mode: both;
}


#contentbox {
    margin: 0 10px 0 var(--sidebar-width);
    background-color: var(--theme-secondary-color);
    border: 1px solid var(--theme-border-color);
    min-height: 500px;
}

#contentbox #page {
    padding: 20px;
}

#contentbox #page hr {
    border-top: 1px solid #eee;
}

#contentbox #page #title {
    font-family: monospace;
    font-size: 2em;
}

#contentbox #page #content {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

#add_page_form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
