button {
    outline: none;
    border: 1px solid rgba(0,0,0,0); /* avoids popping on :hover */
    border-radius: 5px;
    padding: 5px 8px;
    background-color: var(--theme-link-color);
    color: var(--theme-secondary-color);
}

button:hover {
    border: 1px solid var(--theme-link-color);
    color: var(--theme-text-color);
    background-color: var(--theme-primary-color);
    cursor: pointer;
    border-radius: 0px;
}

button:focus {
    border: 1px solid var(--theme-link-color);
    color: var(--theme-text-color);
    background-color: var(--theme-primary-color);
    cursor: pointer;
    border-radius: 0px;
}

button:active {
    border-color: red;
}
