#contentbox {
    margin: 0;
    margin-right: var(--theme-margin-right);
    margin-bottom: var(--theme-margin-bottom);
    margin-left: var(--sidebar-width);
    background-color: var(--theme-secondary-color);
    border: 1px solid var(--theme-border-color);
    min-height: 500px;
    overflow-x: scroll;
}

#contentbox #page {
    padding: 10px 20px;
}

#contentbox #page hr {
    border-top: 1px solid #eee;
}

#contentbox #page #title {
    font-family: 'Bitter';
    font-weight: bold;
    font-size: 2.2em;
}

#contentbox #page #timestamp {
    font-family: 'Open Sans LightItalic';
    font-size: 0.9em;
}

#contentbox #page #content {
    font-family: 'Open Sans', 'Noto Sans', 'Roboto', 'Times New Roman', Times, serif;
}
