#editor {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#editor form .field {
    margin: 5px 5px;
}

#editor form label {
    display: block;
    margin-bottom: 2px;
    color: #666666;
    font-weight: lighter;
    font-size: 0.8em;
}

#editor form input {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%; /* todo: input box goes out of .field  */
    font-size: 1.2em;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#editor form #page_title {
    font-family: 'Bitter';
}

#editor form textarea {
    width: 100%;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 4px 8px;

    min-height: 25em;
    height: auto;
    resize: vertical;
    overflow: auto;

    font-family: 'Open Sans SemiBold';
}

@keyframes form-focus{
    100% {
        border-color: #000;
    }
}

#editor form input:focus {
    animation-name: form-focus;
    animation-duration: 0.2s;
    animation-fill-mode: both;
}

#editor form textarea:focus {
    animation-name: form-focus;
    animation-duration: 0.2s;
    animation-fill-mode: both;
}

#editor button {
}

#editor button:hover {
}

#editor #preview_box {
    position: absolute;
    left: 0;
    right: 0;
    top: var(--topbar-height);
    margin: 0 10px 0 var(--sidebar-width);

    z-index: 5;

    background-color: var(--theme-secondary-color);
    color: var(--theme-text-color);
    border: 2px dashed var(--theme-preview-border-color);

    overflow-x: scroll;
}

#editor #preview_box #notice {
    color: red;
    text-decoration: underline dotted;
    text-align: center;
    border: 1px dotted;
}

