form {
    margin: 0;
    box-sizing: border-box;
}

form fieldset {
    margin: 0;
    margin-bottom: 10px;
    border: none;
    padding: 0;
}

/* Basic element of all forms (no special class required) */
form fieldset>div {
    display: block;
    padding: 10px 10px 10px 0px;
    margin: 5px 0;
}

form legend {
    display: none;
    color: #666;
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: lighter;
}

form input {
    font-family: monospace;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    font-size: 1.2em;
    padding: 4px 8px;
}

form textarea {
    display: block;
    font-family: monospace;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    min-height: 25em;
    height: auto;
    resize: vertical;
    font-size: 1.2em;
    overflow: auto;
    padding: 4px 8px;
}

@keyframes form-focus{
    100% {
        border-color: #000;
    }
}

form input:focus {
    animation-name: form-focus;
    animation-duration: 0.2s;
    animation-fill-mode: both;
}

form textarea:focus {
    animation-name: form-focus;
    animation-duration: 0.2s;
    animation-fill-mode: both;
}

