#sidebar {
    position: absolute;
    top: 0;
    width: var(--sidebar-width);
}

#sidebar #logobox {
    margin: 1em 1em;
    text-align: center;
}

#sidebar #logobox #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-position: center center;
    background-repeat: no-repeat;
}

#sidebar #logobox #logo_title {
    font-family: 'Bitter'; 
    font-style: italic;
    font-size: 40px;
    color: var(--theme-logo-text-color);
}

#sidebar nav {
    font-family: 'Bitter', 'Open Sans';
    margin: 10px;
    padding: 5px;
    border: 1px solid var(--theme-border-color);
}

/* sidebar links */
#sidebar nav a {
    display: block;
    color: var(--theme-sidebar-link-color);
    font-size: 0.95em;
    text-decoration: none;
    padding: 2px;
    margin-bottom: 5px;
}

@keyframes shift-right {
    100% {
        padding-left: 5px;
    }
}

#sidebar nav a:hover {
    text-decoration: underline;
    animation-name: shift-right;
    animation-duration: 0.15s;
    animation-fill-mode: both;
}

