/* variables */
:root {
    --logo-color: #33ff00;
    --link-color: #ffcc00;
    --text-color: #fff;

    /* Background color of the whole document */
    --base-color-bg: rgb(40, 40, 40);
    /* Background color of the .contentbox */
    --base-color-fg: rgb(60, 60, 60);

}

body {
    background-color: var(--base-color-bg);
    margin: 0;
    color: var(--text-color) !important;
}

body a {
    color: var(--link-color);
}

.topbar {
    height: 50px;
    margin: 0 0 0 10em;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 10em;
}

.sidebar #logobox {
    margin: 1em 1em;
    text-align: center;
}

.sidebar #logobox #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-position: center center;
    background-repeat: no-repeat;
}

.sidebar #logobox #logo_title {
    font-size: 55px;
    font-family: logoFont;
    color: var(--logo-color);
    text-decoration: none;
}

/* sidebar links */
.sidebar nav *{
    display: block;
    color: var(--link-color);
    padding: 5px;
    font-size: 1.2em;
}


.contentbox {
    margin: 0 0 0 10em;
    background-color: var(--base-color-fg);
    border: 1px solid #666;
    min-height: 500px;
}

.contentbox #page {
    padding: 20px;
}

.contentbox #page hr {
    border-top: 1px solid #eee;
}

.contentbox #page #title {
    font-family: monospace;
    font-size: 2em;
}

.contentbox #page #content {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
}
