body {
    background-color: #eee;
    margin: 0;
}

.topbar {
    height: 50px;
    margin: 0 0 0 10em;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 10em;
}

.sidebar #logobox {
    margin: 1em 1em;
    text-align: center;
}

.sidebar #logobox #logo {
    display: block;
    width: 8em;
    height: 8em;;
}

@font-face {
    font-family: logoFont;
    src: url('/static/fonts/logo_font.otf');
}

.sidebar #logobox #logo_title {
    font-size: 55px;
    font-family: logoFont;
    color: black;
    text-decoration: none;
}

.sidebar .nav .navlink {
    display: block;
    padding: 5px;
}

.contentbox {
    margin: 0 0 0 10em;
    background-color: white;
    border: 1px solid #666;
    min-height: 400px;
}

.contentbox #page {
    padding: 20px;
}

.contentbox #page hr {
    border-top: 1px solid #eee;
}

.contentbox #page #title {
    font-family: monospace;
    font-size: 2em;
}

.contentbox #page #content {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
}
