{% extends 'components/base.html' %}

{% block title %} {{ v_title }} {% endblock title %}

{% block content %}

<form action="/add" method="post" id="add_page_form">
    <h3> Add a page</h3>
    <fieldset>
        <legend>Page information</legend>

        <div>
            <label for="page_title">Title</label>
            <input autofocus type="text" name="page_title" id="page_title">
        </div>

        <div>
            <label for="page_notes">Notes</label>
            <input type="text" name="page_notes" id="page_notes">
        </div>
    </fieldset>

    <fieldset>
        <legend>Revision</legend>
        <div>
            <label for="rev_content">Content</label>
            <textarea name="rev_content" id="rev_content"></textarea>
        </div>
    </fieldset>

    <button type="submit">Create!</button>
</form>

{% endblock content %}