{% extends 'components/base.html' %}

{% block title %} {{ v_title }} {% endblock title %}

{% block content %}

<form action="/api/edit/{{v_page_id}}" method="post" id="add_page_form">
    <h2><u>{{ v_page_title }} </u></h2>
    <fieldset>
        <legend>Page information</legend>

        <div>
            <input type="hidden" name="page_id" value="{{v_page_id}}">
            <input type="hidden" name="page_title" value="{{v_page_title}}">
        </div>

        <div>
            <label for="page_note">Notes</label>
            <input type="text" name="page_note" id="page_note" value="{{v_page_note}}">
        </div>
    </fieldset>

    <fieldset>
        <legend>Revision</legend>
        <div>
            <label for="rev_body">Body</label>
            <textarea name="rev_body" id="rev_body">{{v_rev_body}}</textarea>
        </div>
    </fieldset>

    <button type="submit">Update!</button>
</form>

{% endblock content %}
