{% extends 'components/base.html' %}

{% block title %} {{ v_title }} {% endblock title %}

{% block content %}

<form action="/api/new" method="post" id="add_page_form">
    <h3> Add a page</h3>
    <fieldset>
        <div>
            <input autofocus placeholder="Title" type="text" name="page_title" id="page_title">
        </div>

        <div>
            <input placeholder="Note" type="text" name="page_note" id="page_note">
        </div>

        <div>
            <textarea placeholder="Body" name="rev_body" id="rev_body"></textarea>
        </div>
    </fieldset>

    <button type="submit">Create!</button>
</form>

{% endblock content %}
