{% extends 'components/base.html' %}

{% block title %} 
    {{title}}  
{% endblock title %}

{% block actions %} 
<!-- Figure out how to perform these actions -->
    <a href="/info/{{ v_page_id }}">Info</a>
    <a href="/edit/{{ v_page_id }}">Edit</a>
<!-- TODO: Modal to confirm deletion -->
    <a href="/delete/{{ v_page_id }}">Delete</a>
{% endblock actions %}


{% block content %}

    <div id="page">
        <div id="title">{{ v_pretty_title }}</div>
        <hr>
        <div id="content">{{ v_content }}</div>
    </div>

{% endblock content %}