{% extends 'components/base.html' %}

{% block title %} 
    {{ v_title }}  
{% endblock title %}

{% block actions %} 
<!-- Figure out how to perform these actions -->
    <a href="/info/{{ v_page_id }}">Info</a>
    <a href="/edit/{{ v_page_id }}">Edit</a>
<!-- TODO: Modal to confirm deletion -->
    <a href="/delete/{{ v_page_id }}">Delete</a>
{% endblock actions %}


{% block content %}

    <div id="page">
        <div id="title">{{  v_page_title  }}</div>
        <p> {{ v_timestamp }} </p>
        <hr>
        <div id="content">{{ v_body }}</div>
    </div>

{% endblock content %}
