{% extends "components/base.html" %}
{% block title %} Settings {% endblock title %}

{% block content %}

<form action="/api/settings" method="post" id="settings_form">
    <h3>Settings</h3>
    <fieldset>
        <legend>Display</legend>
        <div style="border: 1px solid green">
            <h3>Theme</h3>
            {% for name in themes %}
            {% set themeid = loop.index %} {# Generate an id for labelling radio buttons #}
            <label style="display: inline" for="theme{{themeid}}">{{ name | title }}</label>
            <input checked id="theme{{themeid}}" type="radio" name="theme" value="{{ name }}"/>
            {% endfor %}
        </div>
    </fieldset>


    <button type="submit">Save Settings</button>
</form>

{% endblock content %}
