<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wiki Todo</title>
</head>

<body>
    <section>

        <h3>HTML</h3>
        <ul>
            <li>Create a settings page</li>
        </ul>
    </section>
    <hr>
    <section>

        <h3>database</h3>
        <ul>
            <li>Filter page titles - remove punctuations '?' etc</li>
            <li>Edit and delete pages</li>
            <li>Better url endpoints - Maybe '/Page' for pages and '/meta/settings' for meta</li>
            <li>Figure out what the kind of markup to use in Revision.content </li>
            <li>Delete page not working</li>
        </ul>
    </section>
</body>

</html>