<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wiki - Homepage</title>
    <link rel="stylesheet" href="static/css/theme.css">
</head>

<body>

    <div class="sidebar">
        <img src="/static/images/logo.png" alt="wiki logo" id="logo">
        <div class="nav">
            <a href="/" class="navlink">Home</a>
            <a href="/settings" class="navlink">Settings</a>
            <a href="/todo" class="navlink">ToDo</a>
        </div>
    </div>

    <div class="topbar">
        <input type="text" name="Search" id="search" placeholder="Search">
    </div>

    <div class="contentbox">
        <div class="title"><h3>{{title}}</h3></div>
        
        <div class="body">
            Hello, {{ name }}
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores eligendi voluptas sequi, aliquid eius ex deleniti praesentium labore adipisci, omnis dolorum dolorem mollitia! Et aut quibusdam, dicta deleniti iure commodi.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam id amet excepturi, optio modi iste sit doloribus aliquid cumque odio beatae deleniti quis, molestiae exercitationem nemo. Repellat unde ratione dignissimos.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, repellendus.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, blanditiis aliquam ex quam, dolor pariatur culpa voluptatum quis molestias illo necessitatibus at ad. Quod atque eveniet veniam qui animi, molestias asperiores magni. Quis suscipit non laboriosam eligendi. Distinctio odio dolore eum obcaecati deleniti vel laudantium nisi quos commodi? Aliquid ducimus veniam provident incidunt pariatur laborum accusantium delectus! Iste possimus id ipsam magni quaerat fugiat aliquam voluptate vitae voluptatum modi, nam velit accusamus non corrupti totam? Cum et fugiat illum incidunt ex, sapiente amet cumque necessitatibus vero, natus voluptatum. Eos architecto doloribus ab exercitationem laudantium sit sapiente, consectetur commodi nam. Eligendi.</p>
        </div>
    </div>

</body>
</html>