<div class="sidebar">
    <!-- Logo -->
    <div id="logobox">
        <a href="/">
            <img src="/static/images/logo.png" alt="wiki logo" id="logo">
        </a>
        <a id="logo_title" href="/">Wiki</a>
    </div>

    <!-- Navbar -->
    <div class="nav">
        <a href="/" class="navlink">Home</a>
        <a href="/settings" class="navlink">Settings</a>
        <a href="/todo" class="navlink">ToDo</a>
        <a href="/generate" class="navlink">Generate Pages</a>
    </div>
</div>