<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Wiki: {% block title %}{% endblock title %}</title>

        <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">

        <!-- Internal -->
        <link rel="stylesheet" href="/static/css/fonts.css">
        <link rel="stylesheet" href="/static/css/base.css">
        <link rel="stylesheet" href="/static/css/theme.css">
        <link rel="stylesheet" href="/static/css/editor.css">  
        <link rel="stylesheet" href="/static/css/buttons.css">
        <link rel="stylesheet" href="/static/css/topbar.css">
        <link rel="stylesheet" href="/static/css/sidebar.css">
        <link rel="stylesheet" href="/static/css/contentbox.css">

        <!-- Dynamic css -->
        {% block css %}
        {% endblock css %}

        <!-- Dynamic external headers  -->
        {% block head %} {% endblock head %}

        <script src="/static/js/markdown-it.js"></script>

    </head>

    <body>
        {% include 'components/sidebar.html' %}

        <!-- TODO: the 'actions' block doesn't work if included. -->
        <!-- Find a workaround, and move #topbar back to components/sidebar.html and include it. -->

        <div id="topbar">

            <div id="action_box">
                {% block actions %}{% endblock actions %}
            </div>

            <div id="search_box">
                <form action="/search" method="GET">
                    <input type="text" name="search" id="search_box" placeholder="Search Wiki">
                </form>
            </div>

        </div>

        <div id="contentbox">
            {% block content %} OVERRIDE THIS! {% endblock content %}
        </div>

        {% block script %} {% endblock script %}

    </body>

</html>
