{% macro editor(form_id='', action='', page=None) %}

<div id="editor">
    <form action="{{action}}" method="POST" id="{{form_id}}">

        <div class="field">
            <label for="page_title">Title</label>
            <input autofocus type="text" name="page_title" id="page_title" value="{{ page.title }}">
        </div>

        <div class="field">
            <label for="page_note">Note</label>
            <input type="text" name="page_note" id="page_note" value="{{ page.note }}">
        </div>

        <div class="field">
            <label for="rev_body">Revision</label>
            {% if page %}
                <textarea name="rev_body" id="rev_body">{{ page.body() }}</textarea>
            {% else %}
                <textarea name="rev_body" id="rev_body"></textarea>
            {% endif %}
        </div>

        <div class="field">
            <button type="submit">Create</button>
            <button type="button" id="preview_button" onclick="show_preview()">Preview</button>
            <button type="button" id="close_preview_button" onclick="close_preview()">Close Preview</button>
        </div>
    </form>

    <div id="preview_box" hidden>
        <div id="notice">PREVIEW <em>('ESC' to close)</em></div>
        <div id="page">
            <div id="title"></div>
            <small id="timestamp"></small>
            <hr>
            <div id="content"></div>
        </div>
    </div>

    <script src="/static/js/markdown-it.js"></script>
    <script src="/static/js/editor.js"></script>

</div>

{% endmacro %}

